.body {
  background-color: var(--primary);
  padding: 1.25rem;
  border-radius: 2rem;
  color: var(--dark-100);

  h6 {
    font-weight: 300;
    margin-bottom: 0.25rem;
  }
}

.footer {
  margin: 1.5rem -0.75rem -0.75rem -0.75rem;
}

.modal {
  &__title {
    margin-bottom: 1rem;
  }

  h5 {
    margin-top: 1rem;
  }

  p {
    margin-block: 0.5rem 0.7rem;
  }

  &__list {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    color: var(--dark-100);

    li {
      list-style: none;
      padding: 1rem;
      border-radius: 1rem;
      background-color: var(--primary);
      transition: all 150ms ease-out;

      &:hover {
        transform: scale(1.015);
      }
    }
  }
}

.number {
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: -0.02rem;
}
