.button {
  height: 3.25rem;
  font-family: inherit;
  text-align: center;
  border-radius: 1.375rem;
  background-color: var(--dark-100);
  color: var(--white);
  border: 0;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: var(--dark-25);
  }
}
