.avatar {
  &__wrapper {
    background-color: var(--dark-100);
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    gap: 0.75rem;
    align-items: center;
    height: 2.75rem;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 1.375rem;
  }

  &__image {
    background-color: white;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 2.25rem;
  }

  &__name {
    margin-left: 0.75rem;
    font-size: 0.875rem;
  }
}
